<h2>Add a New Batch</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <div>
          <mat-form-field>
            <mat-label>Batch Name</mat-label>
            <input matInput type="text" formControlName="batch"/>
            <mat-error *ngIf="batch.errors && batch.errors.required">Batch Name is required.</mat-error>
          </mat-form-field>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
            <mat-form-field>
                <mat-label>Course ID</mat-label>
                <mat-select formControlName="courseId" >
                    <mat-option *ngFor="let gen of courses" [value]="gen.courseId">{{gen.courseName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button color="warn" mat-button [mat-dialog-close]="true">Cancel</button>
        <button type="submit" mat-button color="accent">Add Batch</button>
      </td>
    </tr>
  </table>
</form>