<mat-card><mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trainers Table
      </mat-panel-title>
      <mat-panel-description>
        List of Trainers and respective Details
        <!-- <mat-icon>calendar_today</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-table [dataSource]="trainers_list">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Trainer ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.trainerId }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Trainer Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.trainerName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Trainer Email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.trainerEmail }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="skills">
            <mat-header-cell *matHeaderCellDef> Trainer Skills </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.trainerSkills }} </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-action-row>
        <mat-form-field style="width:200px">
          <mat-label>Delete Trainer</mat-label>
          <mat-select [formControl]="rmvTrainer" >
              <mat-option *ngFor="let gen of trainers_list" [value]="gen.trainerId">{{gen.trainerId+' - '+gen.trainerName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="rmvTrainer.errors && rmvTrainer.errors.required">Trainer is required.</mat-error>
      </mat-form-field>
        <button mat-button color="warn" (click)="removeTrainer()">Delete</button>
        <button mat-button color="primary" (click)="addDialog()">Add</button>
      </mat-action-row>
    </mat-expansion-panel>
    </mat-card>
  